@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.WorksPackage.WorkPackageFireRiskAssessment.FraDateViewModel
@{
    ViewData["SubTitle"] = Model.BuildingName + " (" + Model.ApplicationReferenceNumber + ")";
    ViewData["Title"] = "Fire risk assessment";
    ViewData["Backlink"] = Model.VisitedCheckYourAnswers
        ? Url.Action("CheckYourAnswers", "FireRiskAssessment", new { Area = "WorksPackageFireRiskAssessment" })
        : Url.Action("OtherAssessor", "FireRiskAssessment", new { Area = "WorksPackageFireRiskAssessment" });
    ViewData["FullWidth"] = false;
}


@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="FraDate" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">Assessment details</h1>

<form asp-controller="FireRiskAssessment" asp-area="WorksPackageFireRiskAssessment" asp-action="FraDate" method="post">
    
    <govuk-date-input asp-for="FraDate">
        <govuk-date-input-label class="govuk-label--s">What date was the FRA conducted?</govuk-date-input-label>
        <govuk-date-input-hint>
            For example, 27 8 2022
        </govuk-date-input-hint>
    </govuk-date-input>

    <input asp-for="VisitedCheckYourAnswers" type="hidden" value="@Model.VisitedCheckYourAnswers" />
    <input asp-for="ApplicationReferenceNumber" type="hidden" value="@Model.ApplicationReferenceNumber" />
    <input asp-for="BuildingName" type="hidden" value="@Model.BuildingName" />


    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@(ESubmitAction.Continue)">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>