@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.WorksPackage.WorkPackageCostsScheduling.IneligibleCostsViewModel
@{
    Layout = "~/Areas/WorksPackage/Views/Shared/_SideCardLayout.cshtml";
    
    ViewData["BackLink"] = Url.Action("IneligibleCost", "CostsScheduling", new { Area = "WorksPackageCostsScheduling" });
    ViewData["SubTitle"] = Model.BuildingName + " (" + Model.ApplicationReferenceNumber + ")";
    ViewData["ReadOnly"] = Model.IsSubmitted;
    ViewData["FullWidth"] = true;
}

@section InfoCardSection
{
    <div class="info-card blank-background govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-1">
        <h2 class="govuk-heading-m">Related items</h2>
        <a target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#payment-profile-start-on-site" class="govuk-link govuk-!-margin-bottom-2">
            Payment profile:
        </a>
        <a target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#project-delivery" class="govuk-link">
            Project delivery:
        </a>
    </div>
}

@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="IneligibleAmountText" />
        <govuk-error-summary-item asp-for="IneligibleDescription" />
    </govuk-error-summary>
}

@section IntroductionSection
{
    <h1 class="govuk-heading-xl">Tell us about other costs that are not eligible for funding</h1>

    <form asp-controller="CostsScheduling" asp-action="IneligibleCosts" asp-area="WorksPackageCostsScheduling" method="post">

        <govuk-input disabled="@Model.IsSubmitted" asp-for="IneligibleAmountText" input-class="govuk-!-width-one-third" input-inputmode="numeric">
            <govuk-input-label>Costs excluding VAT</govuk-input-label>
            <govuk-input-prefix>&pound;</govuk-input-prefix>
        </govuk-input>

        <govuk-character-count disabled="@Model.IsSubmitted" asp-for="IneligibleDescription" max-length="500">
            <govuk-character-count-label>Description</govuk-character-count-label>
        </govuk-character-count>

        <input type="hidden" asp-for="ApplicationReferenceNumber" value="@Model.ApplicationReferenceNumber"/>
        <input type="hidden" asp-for="BuildingName" value="@Model.BuildingName"/>
        <input type="hidden" asp-for="IsSubmitted" value="@Model.IsSubmitted" />

        <div class="comp-btn-group">
            <govuk-button disabled="@Model.IsSubmitted" name="SubmitAction" value="@ESubmitAction.Continue">Continue</govuk-button>
            <govuk-button disabled="@Model.IsSubmitted" name="SubmitAction" value="@ESubmitAction.Exit" class="govuk-button--secondary">Save and return later</govuk-button>
        </div>
    </form>
}