@using HE.Remediation.Core.Enums;
@model HE.Remediation.WebApp.ViewModels.WorksPackage.WorkPackageCostsScheduling.PreferredContractorLinksViewModel
@{
    ViewData["SubTitle"] = Model.BuildingName + " (" + Model.ApplicationReferenceNumber + ")";
    // Set backlink based on SoughtQuotes value
    ViewData["Backlink"] = Model.SoughtQuotes == ENoYes.Yes || Model.SoughtQuotes == null
        ? Url.Action("SoughtQuotes", "CostsScheduling", new { Area = "WorksPackageCostsScheduling" })
        : Url.Action("NoQuotes", "CostsScheduling", new { Area = "WorksPackageCostsScheduling" });
    ViewData["ReadOnly"] = Model.IsSubmitted;
    ViewData["FullWidth"] = false;
}

@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="PreferredContractorLinks" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">Does the preferred contractor have any links to the Responsible Entity, original developer and/or project team firms?</h1>

<form asp-area="WorksPackageCostsScheduling" asp-controller="CostsScheduling" asp-action="PreferredContractorLinks" method="post">

    <govuk-radios asp-for="PreferredContractorLinks">
        <govuk-radios-item disabled="@Model.IsSubmitted" value="@(EYesNoNonBoolean.Yes)">Yes</govuk-radios-item>
        <govuk-radios-item disabled="@Model.IsSubmitted" value="@(EYesNoNonBoolean.No)">No</govuk-radios-item>
        <govuk-radios-item disabled="@Model.IsSubmitted" value="@(EYesNoNonBoolean.DontKnow)">Don't know</govuk-radios-item>
    </govuk-radios>

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
        <div class="govuk-form-group">
            <govuk-character-count name="PreferredContractorLinkAdditionalNotes" max-length="2000" asp-for="PreferredContractorLinkAdditionalNotes" disabled="@Model.IsSubmitted">
                <govuk-character-count-label class="govuk-label--s">
                    Please explain your answer
                </govuk-character-count-label>
            </govuk-character-count>
        </div>
    </div>

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl"/>
    <input asp-for="ApplicationReferenceNumber" type="hidden" value="@Model.ApplicationReferenceNumber"/>
    <input asp-for="BuildingName" type="hidden" value="@Model.BuildingName"/>
    <input asp-for="IsSubmitted" type="hidden" value="@Model.IsSubmitted" />

    <div class="comp-btn-group">
        <govuk-button disabled="@Model.IsSubmitted" name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
        <govuk-button disabled="@Model.IsSubmitted" name="SubmitAction" value="@ESubmitAction.Exit" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>