@using HE.Remediation.Core.Enums
@using HE.Remediation.Core.Extensions
@model HE.Remediation.WebApp.ViewModels.MonthlyProgressReporting.ProjectTeam.TeamMember.TeamMemberCheckYourAnswersViewModel
@{
    ViewData["BackLink"] = Url.Action("TeamMember", "MonthlyProgressReportingProjectTeam", new { Area = "MonthlyProgressReportingProjectTeam", TeamRole = (int?)Model.Role, TeamMemberId = Model.TeamMemberId, IsChangingExistingMember = true });
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";

    var role = Model.Role != ETeamRole.Other ? Model.Role.ToString().SplitCamelCase() : Model.OtherRole;

    var continueAction = Url.Action("ProjectTeam", "MonthlyProgressReportingProjectTeam", new { Area = "MonthlyProgressReportingProjectTeam" });
    
}

<h1 class="govuk-heading-xl">Check your answers</h1>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><span class="govuk-heading-m">@role.ToSentenceCase() company details</span></td>
            <td class="govuk-table__cell govuk-text-align-right"><a class="govuk-link" href="@ViewData["BackLink"]">Change</a></td>
        </tr>
    </thead>
</table>

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Company name
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.CompanyName
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Company registration number
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.CompanyRegistration
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Name
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.Name
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    @if (!string.IsNullOrEmpty(Model.OtherRole) && Model.Role == ETeamRole.Other)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Role at company
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.OtherRole
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Email address
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.EmailAddress
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Primary contact number
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.PrimaryContactNumber
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    @if (Model.ContractSigned.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Have you formally signed a contract with this firm?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @(Model.ContractSigned.Value ? "Yes" : "No")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (Model.IndemnityInsurance.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Confirm that appropriate levels of professional indemnity insurance and limits of liability,
                for the risk associated and in accordance with industry best practice,
                are in place for the @role?.ToLower() and evidence of this is available on request.
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @(Model.IndemnityInsurance.Value ? "Yes" : "No")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (Model.IndemnityInsurance == false)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Reason provided for not having appropriate levels of professional indemnity insurance and limits of liability,
                for the risk associated and in accordance with industry best practice.
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @(string.IsNullOrWhiteSpace(Model.IndemnityInsuranceReason) ? "--" : Model.IndemnityInsuranceReason)
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (Model.InvolvedInOriginalInstallation.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Was this @role?.ToLower() involved in the original installation of the building cladding?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @(Model.InvolvedInOriginalInstallation.Value ? "Yes" : "No")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (Model.InvolvedInOriginalInstallation == true)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Explanation of this @role?.ToLower()'s involvement in the original installation of the building cladding.
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @(string.IsNullOrWhiteSpace(Model.InvolvedRoleReason) ? "--" : Model.InvolvedRoleReason)
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    @if (Model.Role == ETeamRole.LeadContractor)
    {
        if (Model.ConsiderateConstructorSchemeType.HasValue)
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Is your lead contractor signed up to the Considerate Constructors Scheme?
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @(Model.ConsiderateConstructorSchemeType != EConsiderateConstructorSchemeType.DontKnow ? Model.ConsiderateConstructorSchemeType.ToString() : "Don't know")
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        }

        @if (Model.ConsiderateConstructorSchemeType == EConsiderateConstructorSchemeType.No ||
             Model.ConsiderateConstructorSchemeType == EConsiderateConstructorSchemeType.DontKnow)
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Reason your lead contractor has not signed up to the Considerate Constructors Scheme?
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @(string.IsNullOrWhiteSpace(Model.ConsiderateConstructorSchemeReason) ? "--" : Model.ConsiderateConstructorSchemeReason)
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        }
    }

    @if (Model.HasChasCertification.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Does your lead contractor have CHAS certification?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @(Model.HasChasCertification.Value ? "Yes" : "No")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

</govuk-summary-list>


<div class="govuk-grid-row govuk-!-padding-left-3">
    <div class="govuk-grid-column">
        <h2 class="govuk-heading-m">Proceed to next step of your application</h2>
        <p class="govuk-body">
            By submitting this notification you are confirming that, to the best of
            your knowledge, the details you are providing are correct.
        </p>
    </div>
</div>

<div class="comp-btn-group">
    <govuk-button href="@continueAction">Continue</govuk-button>
</div>