@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.AlternativeFundingRoutes.CheckYourAnswersViewModel
@{
    ViewData["Title"] = Model.ReadOnly ? "Your answers" : "Check your answers";
    ViewData["BackLink"] = Model.OtherSourcesPursuedType == EPursuedSourcesFundingType.PursuingOtherRoutes
        ? Url.Action("FundingStillPursuing", "AlternativeFundingRoutes", new { Area = "AlternativeFundingRoutes" })
        : Url.Action("PursuedSourcesFunding", "AlternativeFundingRoutes", new { Area = "AlternativeFundingRoutes" });
    ViewData["ReadOnly"] = Model.ReadOnly;
    ViewData["FullWidth"] = true;
}

<h1 class="govuk-heading-xl">@(Model.ReadOnly ? "Your answers" : "Check your answers")</h1>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Have you pursued other sources of funding?
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.PursuedSourcesFundingAnswer
        </dd>
        <dd class="govuk-summary-list__actions">
            @if (!Model.ReadOnly)
            {
                <a class="govuk-link" href="@Url.Action("PursuedSourcesFunding", "AlternativeFundingRoutes", new { Area = "AlternativeFundingRoutes" })">
                    Change<span class="govuk-visually-hidden"> pursued sources funding answer</span>
                </a>
            }
        </dd>
    </div>
    @if (Model.FundingStillPursuingAnswer.Any())
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Which routes of funding are you still pursuing?
            </dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var fundingStillPursuingAnswer in Model.FundingStillPursuingAnswer)
                    {
                        <li>@fundingStillPursuingAnswer</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                @if (!Model.ReadOnly)
                {
                    <a class="govuk-link" href="@Url.Action("FundingStillPursuing", "AlternativeFundingRoutes", new { Area = "AlternativeFundingRoutes" })">
                        Change<span class="govuk-visually-hidden"> funding still pursuing answer</span>
                    </a>
                }
            </dd>
        </div>
    }
</dl>

@if (!Model.ReadOnly)
{
    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Proceed to next step of your application</h3>
    <p class="govuk-body">By submitting this notification you are confirming that, to the best of
        your knowledge, the details you are providing are correct.</p>

    <form method="post" asp-area="AlternativeFundingRoutes" asp-controller="AlternativeFundingRoutes" asp-action="SetCheckYourAnswers">
        <govuk-button name="button" value="Continue">Accept and save application</govuk-button>
    </form>
}