@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.FireRiskAppraisal.GetReportDetailsViewModel

@{
    ViewData["Title"] = "Report Details";
    ViewData["FullWidth"] = true;
    ViewData["BackLink"] = Url.Action("UploadFireRiskAppraisalReport", "FireRiskAppraisal", new { Area = "FireRiskAppraisal" });

}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="NumberOfStoreys" />
        <govuk-error-summary-item asp-for="BuildingHeight" />
        <govuk-error-summary-item asp-for="AuthorsName" />
        <govuk-error-summary-item asp-for="PeerReviewPerson" />
        <govuk-error-summary-item asp-for="BasicComplexId" />
    </govuk-error-summary>
}

<div class="text-center">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                    <form asp-area="FireRiskAppraisal" asp-controller="FireRiskAppraisal" asp-action="ReportDetails" method="post">

                        <govuk-input asp-for="NumberOfStoreys" type="text" input-class="govuk-input--width-5" input-maxlength="3" input-pattern="[0-9]*">
                            <govuk-input-label class="govuk-label--s">How many storeys does the building have?</govuk-input-label>
                            <govuk-input-hint>Please enter the number of storeys starting at ground level but do not include underground storeys.</govuk-input-hint>
                        </govuk-input>

                        <govuk-input asp-for="BuildingHeight" type="text" input-class="govuk-input--width-5" input-maxlength="8" input-pattern="[0-9]*(\.[0-9]{,2})?">
                            <govuk-input-label class="govuk-label--s">What is the height of the building in metres?</govuk-input-label>
                            <govuk-input-hint>Please enter the exact height of the building in metres, with up to two decimal places, eg 13.55m, including ground level (measured in accordance with the diagram below).</govuk-input-hint>
                        </govuk-input>

                        <govuk-details open="false">
                            <govuk-details-summary>
                                How to measure height of the building
                            </govuk-details-summary>
                            <govuk-details-text>
                                <h2 class="govuk-heading-m">How to measure the height of your building</h2>

                                <p class="govuk-body">For a building to be eligible for grant funding, the height of the building must be over 11 metres.</p>
                                <p class="govuk-body">Use the image below as a guide when measuring the building height.</p>
                                <p class="govuk-body">You should measure from the lowest ground level up to the finished floor level of the top occupied story.</p>
                                <p class="govuk-body">Do not count the root-top plant room and any other storeys that are plant rooms.</p>


                                @*TODO government guidance here is to use an svg image because the image contains text and alt text should match the text in the image. (https://design-system.service.gov.uk/styles/images/)*@
                                <p class="govuk-body">
                                    <img src="~/img/buildingdetails/buildingheight.png" height="100%" width="100%" alt="" />
                                    <span>The height of top storey must be measured from upper floor surface of the top floor, to ground level on the lowest side of building. The height of the top storey excludes roof-top plant areas and any top storeys consisting exclusively of plant rooms.</span>
                                </p>
                            </govuk-details-text>
                        </govuk-details>

                        <govuk-input asp-for="AuthorsName" name="AuthorsName" input-class="govuk-input--width-20" inputmode="text" spellcheck="false">
                            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name of author of report</govuk-input-label>
                        </govuk-input>

                        <govuk-input asp-for="PeerReviewPerson" name="PeerReviewPerson" input-class="govuk-input--width-20" inputmode="text" spellcheck="false">
                            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name of person peer reviewing report</govuk-input-label>
                        </govuk-input>
                        
                        <govuk-input asp-for="FraewCost" name="@nameof(Model.FraewCost)" input-class="govuk-input--width-20" inputmode="number">
                            <govuk-input-label is-page-heading="false" class="govuk-label--s">Cost of FRAEW report (exclusive of VAT)</govuk-input-label>
                            <govuk-input-prefix>&pound;</govuk-input-prefix>
                        </govuk-input>

                        <govuk-radios asp-for="BasicComplexId">
                            <govuk-radios-fieldset>
                                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--s">
                                    Is the FRAEW assessment basic or complex?
                                </govuk-radios-fieldset-legend>
                            </govuk-radios-fieldset>

                            <govuk-radios-item value="@(EBasicComplexType.Basic)">Basic</govuk-radios-item>
                            <govuk-radios-item value="@(EBasicComplexType.Complex)">Complex</govuk-radios-item>
                        </govuk-radios>

                        <div class="comp-btn-group">
                            <govuk-button name="SubmitAction" value="@(ESubmitAction.Continue)">Save and continue</govuk-button>
                            <govuk-button name="SubmitAction" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
                        </div>

                        @Html.HiddenFor(x=> x.ReturnUrl)
                        @Html.HiddenFor(x=> x.ApplicationScheme)
                        @Html.HiddenFor(x=> x.ApplicationReferenceNumber)
                        @Html.HiddenFor(x=> x.BuildingName)
                        @Html.HiddenFor(x=> x.BuildingAddress)
                        @Html.HiddenFor(x=> x.Development)
                        <input name="@($"{nameof(Model.FRAEWCompletedDate)}.{nameof(Model.FRAEWCompletedDate.Value.Day)}")" value="@Model.FRAEWCompletedDate?.Day" type="hidden" />
                        <input name="@($"{nameof(Model.FRAEWCompletedDate)}.{nameof(Model.FRAEWCompletedDate.Value.Month)}")" value="@Model.FRAEWCompletedDate?.Month" type="hidden" />
                        <input name="@($"{nameof(Model.FRAEWCompletedDate)}.{nameof(Model.FRAEWCompletedDate.Value.Year)}")" value="@Model.FRAEWCompletedDate?.Year" type="hidden" />
                        <input name="@($"{nameof(Model.FRAEWInstructedDate)}.{nameof(Model.FRAEWInstructedDate.Value.Day)}")" value="@Model.FRAEWInstructedDate?.Day" type="hidden" />
                        <input name="@($"{nameof(Model.FRAEWInstructedDate)}.{nameof(Model.FRAEWInstructedDate.Value.Month)}")" value="@Model.FRAEWInstructedDate?.Month" type="hidden" />
                        <input name="@($"{nameof(Model.FRAEWInstructedDate)}.{nameof(Model.FRAEWInstructedDate.Value.Year)}")" value="@Model.FRAEWInstructedDate?.Year" type="hidden" />
                        @Html.HiddenFor(x=> x.CompanyUndertakingReport)
                    </form>
                </div>
                @if (@Model.ApplicationScheme != EApplicationScheme.ResponsibleActorsScheme)
                {
                    <div class="govuk-grid-column-one-third">
                        <hr class="related-content-separator-line" />
                        <h2 class="govuk-heading-m">Building Details</h2>

                        <div class="govuk-grid-row">
                            <div class="govuk-heading-s no-margin">Application Reference Number</div>
                            <div class="govuk-body no-margin">@Model.ApplicationReferenceNumber</div>
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-heading-s no-margin">Building name</div>
                            <div class="govuk-body no-margin">@Model.BuildingName</div>
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-heading-s no-margin">Building Address Line 1</div>
                            <div class="govuk-body no-margin">@Model.BuildingAddress</div>
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        </div>
                        @if (Model.PartOfDevelopment.HasValue && Model.PartOfDevelopment.Value)
                        {
                            <div class="govuk-grid-row">
                                <div class="govuk-heading-s no-margin">Block within wider development</div>
                                <div class="govuk-body no-margin">@Model.Development</div>
                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                            </div>
                        }
                        <div class="govuk-grid-row">
                            <div class="govuk-heading-s no-margin">FRAEW instructed date</div>
                            <div class="govuk-body no-margin">
                                @if (Model.FRAEWInstructedDate is not null)
                                {
                                    var instructedDate = Model.FRAEWInstructedDate;
                                    <span>@instructedDate.Value.ToString("dd MMMM yyyy")</span>
                                }
                            </div>
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-heading-s no-margin">FRAEW report completion date</div>
                            <div class="govuk-body no-margin">
                                @if (Model.FRAEWCompletedDate is not null)
                                {
                                    var completedDate = Model.FRAEWCompletedDate;
                                    <span>@completedDate.Value.ToString("dd MMMM yyyy")</span>
                                }
                            </div>
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-heading-s no-margin">Firm undertaking report</div>
                            <div class="govuk-body no-margin">
                                @Model.CompanyUndertakingReport
                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</div>
