@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.BuildingDetails.BuildingDeveloperInformationViewModel
@{
    ViewData["Title"] = "Building developer information";
    ViewData["BackLink"] = Url.Action("ConfirmBuildingHeight", "BuildingDetails", new { Area = "BuildingDetails" });
    ViewData["FullWidth"] = false;
}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="DoYouKnowOriginalDeveloper"/>
    </govuk-error-summary>
}
<h1 class="govuk-heading-xl">Do you know who the original developer for this building was?</h1>

<form asp-area="BuildingDetails" asp-controller="BuildingDetails" asp-action="BuildingDeveloperInformation" method="post">
    <govuk-radios asp-for="DoYouKnowOriginalDeveloper">

        <govuk-radios-item value="@(true)">Yes</govuk-radios-item>
        <govuk-radios-item value="@(false)">No</govuk-radios-item>        

    </govuk-radios>

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="@ESubmitAction.Exit" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>