@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.BuildingDetails.CheckYourAnswersViewModel
@{
    var backLink = Model.ReturnURL;
    ViewData["Title"] = Model.ReadOnly ? "Your answers" : "Check your answers";
    ViewData["BackLink"] = String.IsNullOrWhiteSpace(backLink) ? @Url.Action("Index", "TaskList", new { Area = "Application" }) :
                            backLink;

    ViewData["ReadOnly"] = Model.ReadOnly;
    ViewData["ReturnUrl"] = "CheckYourAnswers";
    ViewData["FullWidth"] = true;

    ViewData["BackLinkHidden"] = true;
}

<h1 class="govuk-heading-xl">@(Model.ReadOnly ? "Your answers" : "Check your answers")</h1>
@if (!Model.ReadOnly)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-text-align-right">
            <a href=@Url.Action("ChangeAnswers", "BuildingDetails") class="govuk-link">Change your answers</a>
        </div>
    </div>
}

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            What name do you want to give the building?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.BuildingUniqueName
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Are works to this building completed?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @(Model.WorksAlreadyCompleted ? "Yes" : "No")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    @if (Model.WorksAlreadyCompleted && (Model.ApplicationScheme == EApplicationScheme.ResponsibleActorsScheme || Model.ApplicationScheme == EApplicationScheme.SocialSector))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                When did you start on site?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @if (Model.StartDate != null)
                {
                    <span>@Model.StartDate.Value.ToString("dd/MM/yyyy")</span>
                }
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                When did you remove cladding?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @if (Model.UnsafeCladdingRemovalDate != null)
                {
                    <span>@Model.UnsafeCladdingRemovalDate.Value.ToString("dd/MM/yyyy")</span>
                }
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                When did you complete your works?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @if (Model.ExpectedDateForCompletion != null)
                {
                    <span>@Model.ExpectedDateForCompletion.Value.ToString("dd/MM/yyyy")</span>
                }
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Number of residential units?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.ResidentialUnitsCount
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Are there any non-residential units in the building?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @(Model.NonResidentialUnits ? "Yes" : "No")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    @if (Model.NonResidentialUnits)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                How many non-residential units are there in this building?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.NonResidentialUnitsCount
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Building address
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (!String.IsNullOrEmpty(Model.BuildingNameNumber) || !String.IsNullOrEmpty(Model.BuildingAddressLine1))
            {
                <span>@(!string.IsNullOrEmpty(Model.BuildingNameNumber) ? $"{Model.BuildingNameNumber} " : string.Empty)@(!string.IsNullOrEmpty(Model.BuildingAddressLine1) ? Model.BuildingAddressLine1 : string.Empty)<br></span>
            }
            @if (!String.IsNullOrEmpty(Model.BuildingAddressLine2))
            {
                <span>@Model.BuildingAddressLine2<br></span>
            }
            @if (!String.IsNullOrEmpty(Model.BuildingCity))
            {
                <span>@Model.BuildingCity<br></span>
            }
            @if (!String.IsNullOrEmpty(Model.BuildingLocalAuthority))
            {
                <span>@Model.BuildingLocalAuthority<br></span>
            }
            @if (!String.IsNullOrEmpty(Model.BuildingCounty))
            {
                <span>@Model.BuildingCounty<br></span>
            }
            @if (!String.IsNullOrEmpty(Model.BuildingPostcode))
            {
                <span>@Model.BuildingPostcode<br></span>
            }
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Local authority
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (!String.IsNullOrEmpty(Model.LocalAuthorityCostCentreDescription))
            {
                @Model.LocalAuthorityCostCentreDescription
            }
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Is this building part of a development?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @(Model.PartOfDevelopment ? "Yes" : "No")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    @if (Model.PartOfDevelopment)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                What is the name of the development this building is part of?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.DevelopmentName
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            How many storeys does the building have?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.Storeys
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Confirm the building is over 11 metres or 11-18 metres if the building is located in London?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @(Model.CorrectHeightConfirmedDate is not null ? "Yes" : "No")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Do you have a Building Safety Regulator registration code?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @(Model.BuildingHasSafetyRegulatorRegistrationCode ? "Yes" : "No")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    @if (!String.IsNullOrEmpty(Model.BuildingSafetyRegulatorRegistrationCode))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                What is your Building Safety Regulator registration code?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.BuildingSafetyRegulatorRegistrationCode
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Do you know who the original developer for this building was?
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @(Model.OriginalDeveloperKnown ? "Yes" : "No")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    @if (!String.IsNullOrEmpty(Model.DeveloperCompanyName))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Developer company name
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.DeveloperCompanyName
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    @if (!String.IsNullOrEmpty(Model.DeveloperNameNumber))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Developer company address
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @if (!String.IsNullOrEmpty(Model.DeveloperNameNumber))
                {
                    <span>@Model.DeveloperNameNumber<br></span>
                }
                @if (!String.IsNullOrEmpty(Model.DeveloperAddressLine1))
                {
                    <span>@Model.DeveloperAddressLine1<br></span>
                }
                @if (!String.IsNullOrEmpty(Model.DeveloperAddressline2))
                {
                    <span>@Model.DeveloperAddressline2<br></span>
                }
                @if (!String.IsNullOrEmpty(Model.DeveloperCity))
                {
                    <span>@Model.DeveloperCity<br></span>
                }
                @if (!String.IsNullOrEmpty(Model.DeveloperCounty))
                {
                    <span>@Model.DeveloperCounty<br></span>
                }
                @if (!String.IsNullOrEmpty(Model.DeveloperPostcode))
                {
                    <span>@Model.DeveloperPostcode<br></span>
                }
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Do you know if the original developer of this building is still in business?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.DeveloperStillInBusiness
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
        @if (@Model.DeveloperStillInBusiness != null)
        {
            if (Model.DeveloperStillInBusiness.ToUpper() == "YES")
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Have you contacted the developer about remediation works on this building (addressing fire safety risks related to unsafe non-ACM cladding)?
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @(Model.DeveloperContacted ? "Yes" : "No")
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
        }
    }
    @if (Model.SumInsuredAmount.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                What is the total sum insured of the building?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                &pound;@Model.SumInsuredAmount?.ToString("N0")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (Model.CurrentBuildingInsurancePremiumAmount.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                What is the current buildings insurance premium for the whole building?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                &pound;@Model.CurrentBuildingInsurancePremiumAmount?.ToString("N0")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (!String.IsNullOrEmpty(Model.InsuranceProviders))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Who is/are your current building insurance provider/s?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.InsuranceProviders
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (!String.IsNullOrEmpty(Model.IfOtherInsuranceProviderName))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                If Other, please tell us who is/are your current building insurance provider/s?
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.IfOtherInsuranceProviderName
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (!String.IsNullOrEmpty(Model.AdditionalInfo))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Additional information
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.AdditionalInfo
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
</govuk-summary-list>

@if (!Model.ReadOnly)
{
    <h2 class="govuk-heading-s">Proceed to next step of your application</h2>
    <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <form asp-area="BuildingDetails" asp-controller="BuildingDetails" asp-action="CheckYourAnswers" method="post">
        <govuk-button type="submit">Accept and save application</govuk-button>
    </form>
}