@using GovUk.Frontend.AspNetCore.TagHelpers
@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.Location.PostCodeManualViewModel

@{
    ViewData["Title"] = "Provide building address";
    ViewData["Backlink"] = Model.NonResidentialUnits == true
        ? Url.Action("NonResidentialUnits", "BuildingDetails", new { Area = "BuildingDetails" })
        : Url.Action("ResidentialUnits", "BuildingDetails", new { Area = "BuildingDetails" });
    ViewData["FullWidth"] = false;
}
@section ErrorSummary
{
    <govuk-error-summary>              
        <govuk-error-summary-item asp-for="NameNumber" />
        <govuk-error-summary-item asp-for="AddressLine1" />
        <govuk-error-summary-item asp-for="AddressLine2" />
        <govuk-error-summary-item asp-for="City" />
        <govuk-error-summary-item asp-for="LocalAuthority" />
        <govuk-error-summary-item asp-for="County" />
        <govuk-error-summary-item asp-for="Postcode" />        
    </govuk-error-summary>
}
<h1 class="govuk-heading-xl">
    Provide building address
</h1>

@if (@Model.outputLocations != null)
{
    if (@Model.outputLocations.Count == 0)
    {
        <h3 class="govuk-heading-m">No addresses found</h3>
    }            
}

<form method="post" asp-area="BuildingDetails" asp-controller="BuildingDetails" asp-action="ProvideBuildingAddressManual">
    <govuk-fieldset>
                
        <govuk-input asp-for="NameNumber" input-class="govuk-input--width-20">
            <govuk-input-label class="govuk-label--s">Building name or number</govuk-input-label>
        </govuk-input>
        <govuk-input asp-for="AddressLine1" input-class="govuk-input--width-20">
            <govuk-input-label class="govuk-label--s">Address Line 1</govuk-input-label>
        </govuk-input>
        <govuk-input asp-for="AddressLine2" input-class="govuk-input--width-20">
            <govuk-input-label class="govuk-label--s">Address Line 2 (optional)</govuk-input-label>
        </govuk-input>
        <govuk-input asp-for="City" input-class="govuk-input--width-20">
            <govuk-input-label class="govuk-label--s">Town or city</govuk-input-label>
        </govuk-input>
        <govuk-input asp-for="LocalAuthority" input-class="govuk-input--width-20">
            <govuk-input-label class="govuk-label--s">Local Authority</govuk-input-label>
        </govuk-input>
        <govuk-input asp-for="County" input-class="govuk-input--width-20">
            <govuk-input-label class="govuk-label--s">County (optional)</govuk-input-label>
        </govuk-input>
        <govuk-input asp-for="Postcode" input-class="govuk-input--width-5">
            <govuk-input-label class="govuk-label--s">Postcode</govuk-input-label>
        </govuk-input>    
        
    </govuk-fieldset>

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@(ESubmitAction.Continue)">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>
