 @using GovUk.Frontend.AspNetCore.TagHelpers
@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.Location.PostCodeSelectionViewModel

@{
    ViewData["Title"] = "Grant certifying officer - What is the grant certifying officer's company address?";
    ViewData["SubTitle"] = Model.BuildingName + " (" + Model.ApplicationReferenceNumber + ")";
    ViewData["Backlink"] = Url.Action("GrantCertifyingOfficerDetails", "GrantCertifyingOfficer", new { Area = "WorksPackageGrantCertifyingOfficer" });
    ViewData["Backlink"] = ViewData["Backlink"] ?? Url.Action("GrantCertifyingOfficerDetails", "GrantCertifyingOfficer", new { Area = "WorksPackageGrantCertifyingOfficer" });
    ViewData["FullWidth"] = false;

    ViewData["ReturnUrl"] = "";
    ViewData["ReturnActionUrl"] = "GrantCertifyingOfficerAddressDetails";
    ViewData["ReturnControllerUrl"] = @ViewContext.RouteData.Values["controller"].ToString();
}
@section ErrorSummary
    {
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="SelectedAddressId" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">What is the grant certifying officer's company address?</h1>

<form asp-area="WorksPackage" asp-controller="GrantCertifyingOfficer" asp-action="GrantCertifyingOfficerAddressDetailsPostCodeItemSelected" method="post">
    <govuk-fieldset>
        <partial name="_PostCodeLookupResultsPartial" view-data="ViewData" />
    </govuk-fieldset>

    @if (@Model.OutputLocations != null)
    {
        if (@Model.OutputLocations.Count > 0)
        {
            <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
            <input asp-for="ApplicationReferenceNumber" type="hidden" value="@Model.ApplicationReferenceNumber" />
            <input asp-for="BuildingName" type="hidden" value="@Model.BuildingName" />
            <input asp-for="PostCode" type="hidden" value="@Model.PostCode" />

            <a href="@Url.Action("GrantCertifyingOfficerAddressDetailsManual", "GrantCertifyingOfficer", new { area = "WorksPackageGrantCertifyingOfficer", postCode=@Model.PostCode})" class="govuk-link">I cannot find the address in this list</a>
            <div class="comp-btn-group">
                <govuk-button name="SubmitAction" value="@(ESubmitAction.Continue)">Select Address</govuk-button>
                <govuk-button name="SubmitAction" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
            </div>
        }
    }
</form>

