@using HE.Remediation.Core.Enums;
@using HE.Remediation.Core.Extensions
@model HE.Remediation.WebApp.ViewModels.WorksPackage.WorkPackageGrantCertifyingOfficer.DetailsViewModel
@{
    ViewData["Title"] = "Grant certifying officer " + @Model.RoleName.ToSentenceCase() + " company details";
    ViewData["SubTitle"] = Model.BuildingName + " (" + Model.ApplicationReferenceNumber + ")";
    ViewData["Backlink"] = Url.Action("ConfirmGrantCertifyingOfficer", "GrantCertifyingOfficer", new { Area = "WorksPackageGrantCertifyingOfficer" });
    ViewData["ReadOnly"] = Model.IsSubmitted;
    ViewData["FullWidth"] = false;
}
@section ErrorSummary
    {
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="CompanyName" />
        <govuk-error-summary-item asp-for="CompanyRegistrationNumber" />
        <govuk-error-summary-item asp-for="Name" />
        <govuk-error-summary-item asp-for="EmailAddress" />
        <govuk-error-summary-item asp-for="PrimaryContactNumber" />
        <govuk-error-summary-item asp-for="ContractSigned" />
        <govuk-error-summary-item asp-for="IndemnityInsurance" />
        <govuk-error-summary-item asp-for="IndemnityInsuranceReason" />
        <govuk-error-summary-item asp-for="InvolvedInOriginalInstallation" />
        <govuk-error-summary-item asp-for="InvolvedRoleReason" />
    </govuk-error-summary>
}
<h1 class="govuk-heading-xl">@Model.RoleName.ToSentenceCase() company details</h1>

<form asp-area="WorksPackage" asp-controller="GrantCertifyingOfficer" asp-action="GrantCertifyingOfficerDetails" method="post">

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    <input asp-for="ApplicationReferenceNumber" type="hidden" value="@Model.ApplicationReferenceNumber" />
    <input asp-for="BuildingName" type="hidden" value="@Model.BuildingName" />
    <input asp-for="RoleName" type="hidden" value="@Model.RoleName" />
    <input asp-for="IsSubmitted" type="hidden" value="@Model.IsSubmitted" />

    <govuk-fieldset>
        <govuk-input disabled="@Model.IsSubmitted" asp-for="CompanyName" input-class="govuk-input--width-20">
            <govuk-input-label class="gov-uk-label--s">Company name</govuk-input-label>
        </govuk-input>

        <govuk-input disabled="@Model.IsSubmitted" asp-for="CompanyRegistrationNumber" input-class="govuk-input--width-20">
            <govuk-input-label class="gov-uk-label--s">Company registration number</govuk-input-label>
        </govuk-input>

        <govuk-input disabled="@Model.IsSubmitted" asp-for="Name" input-class="govuk-input--width-20">
            <govuk-input-label class="gov-uk-label--s">@Model.RoleName?.ToSentenceCase() name</govuk-input-label>
        </govuk-input>

        <govuk-input disabled="@Model.IsSubmitted" asp-for="EmailAddress" input-class="govuk-input--width-20">
            <govuk-input-label class="gov-uk-label--s">Email address</govuk-input-label>
        </govuk-input>

        <govuk-input disabled="@Model.IsSubmitted" asp-for="PrimaryContactNumber" input-class="govuk-input--width-20" input-maxlength="20">
            <govuk-input-label class="gov-uk-label--s">Primary contact number</govuk-input-label>
        </govuk-input>

        <govuk-radios asp-for="ContractSigned">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                    Have you formally signed a contract with this company?
                </govuk-radios-fieldset-legend>
            </govuk-radios-fieldset>
            <govuk-radios-item disabled="@Model.IsSubmitted" value="@(true)">Yes</govuk-radios-item>
            <govuk-radios-item disabled="@Model.IsSubmitted" value="@(false)">No</govuk-radios-item>
        </govuk-radios>

        <govuk-radios asp-for="IndemnityInsurance">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                    Are appropriate levels of professional indemnity insurance and limits of liability, for the risks associated and in accordance with industry best practice, in place?
                </govuk-radios-fieldset-legend>
            </govuk-radios-fieldset>
            <govuk-radios-item disabled="@Model.IsSubmitted" value="@(true)">Yes</govuk-radios-item>
            <govuk-radios-item disabled="@Model.IsSubmitted" value="@(false)">
                No
                <govuk-radios-item-conditional>
                    <govuk-character-count disabled="@Model.IsSubmitted" asp-for="IndemnityInsuranceReason" max-length="150">
                        <govuk-character-count-label>Provide disabled="@Model.IsSubmitted" a reason</govuk-character-count-label>
                    </govuk-character-count>
                </govuk-radios-item-conditional>
            </govuk-radios-item>
        </govuk-radios>

        <govuk-radios asp-for="InvolvedInOriginalInstallation">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                    Was the @Model.RoleName?.ToLower() involved in the original installation of cladding on this building?
                </govuk-radios-fieldset-legend>
            </govuk-radios-fieldset>
            <govuk-radios-item disabled="@Model.IsSubmitted" value="@(true)">
                Yes
                <govuk-radios-item-conditional>
                    <govuk-character-count disabled="@Model.IsSubmitted" asp-for="InvolvedRoleReason" max-length="150">
                        <govuk-character-count-label>Explain their role</govuk-character-count-label>
                    </govuk-character-count>
                </govuk-radios-item-conditional>
            </govuk-radios-item>
            <govuk-radios-item disabled="@Model.IsSubmitted" value="@(false)">No</govuk-radios-item>
        </govuk-radios>
    </govuk-fieldset>

    <div class="comp-btn-group">
        <govuk-button disabled="@Model.IsSubmitted" name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
        <govuk-button disabled="@Model.IsSubmitted" name="SubmitAction" value="@ESubmitAction.Exit" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>

