@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.Location.PostCodeEntryViewModel

@{
    ViewData["Title"] = "What is the company address of the Responsible Entity";
    ViewData["BackLink"] = Url.Action("ResponsibleEntityCompanyDetails", "ResponsibleEntities", new { Area = "ResponsibleEntities" });
    ViewData["FullWidth"] = false;
}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="PostCode" />
    </govuk-error-summary>
}
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<form asp-area="ResponsibleEntities" asp-controller="ResponsibleEntities" asp-action="RespEntityCompAddrPostCodeItemEntered" method="get">
    
    <govuk-fieldset>
        <partial name="_PostCodeLookupPartial" view-data="ViewData" />        
    </govuk-fieldset>

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

    <a href="@Url.Action("ResponsibleEntityCompanyAddressManual", "ResponsibleEntities", new { area = "ResponsibleEntities"})" class="govuk-link" >Enter Address Manually</a>
    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@(ESubmitAction.FindAddress)">Find Address</govuk-button>
        <govuk-button name="SubmitAction" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>