@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.ResponsibleEntities.ResponsibleEntityCompanyTypeViewModel
@{
    ViewData["Title"] = "What type of company is the Responsible Entity?";
    ViewData["BackLink"] = Model.ResponsibleEntityRelationType == EResponsibleEntityRelation.Freeholder
        ? Url.Action("ResponsibleEntityRelation", "ResponsibleEntities", new { Area = "ResponsibleEntities" })
        : ViewData["BackLink"] = (string)ViewData["CompanyOrIndividual"] == "Individual"
            ? Url.Action("FreeholderIndividualAddress", "ResponsibleEntities", new { Area = "ResponsibleEntities" })
            : Url.Action("FreeholderCompanyAddress", "ResponsibleEntities", new { Area = "ResponsibleEntities" });
}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="OrganisationType"/>        
    </govuk-error-summary>
}
<form asp-area="ResponsibleEntities" asp-controller="ResponsibleEntities" asp-action="ResponsibleEntityCompanyType">
    <govuk-radios asp-for="OrganisationType">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--xl">
                @ViewData["Title"]
            </govuk-radios-fieldset-legend>
        </govuk-radios-fieldset>
        
        <govuk-radios-item value="@(EApplicationResponsibleEntityOrganisationType.PrivateCompany)">Private company</govuk-radios-item>
        <govuk-radios-item value="@(EApplicationResponsibleEntityOrganisationType.RightToManageCompany)">Right-to-Manage company</govuk-radios-item>
        <govuk-radios-item value="@(EApplicationResponsibleEntityOrganisationType.ResidentLedOrganisation)">Resident-led organisation</govuk-radios-item>
        <govuk-radios-item value="@(EApplicationResponsibleEntityOrganisationType.RegisteredProvider)">Registered Provider</govuk-radios-item>
        <govuk-radios-item value="@(EApplicationResponsibleEntityOrganisationType.LocalAuthority)">Local Authority</govuk-radios-item>
        <govuk-radios-item value="@(EApplicationResponsibleEntityOrganisationType.Other)">Other</govuk-radios-item>
    </govuk-radios>

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    
    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="Continue">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="Exit" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>

    <input type="hidden" name="ResponsibleEntityRelationType" value="@Model.ResponsibleEntityRelationType" />
</form>