@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.Application.TaskListViewModel

@{
    ViewData["Title"] = "Task list";
}

<div class="text-center">
    <div class="govuk-width-container">
        <a href="@Url.Action("Index", "StageDiagram", new { Area = "Application" })" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">
                        New application
                    </span>

                    <h1 class="govuk-heading-xl">
                        Task list
                    </h1>

                    <p class="govuk-body">Application ID: <span class="govuk-!-font-weight-bold">@Model.ApplicationReferenceNumber</span></p>

                    <p class="govuk-body">View the required steps to submit a new application.</p>

                    <ol class="app-task-list">                        
                        <li>
                            <h2 class="app-task-list__section">
                                <span class="app-task-list__section-number">1. </span> Prepare application
                            </h2>
                            <ul class="app-task-list__items">
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link" href="@(Model.ApplicationBuildingDetailsStatusId == ETaskStatus.Completed ? Url.Action("CheckYourAnswers", "BuildingDetails" , new { Area="BuildingDetails" }) : Url.Action("Start", "BuildingDetails" , new { Area="BuildingDetails" }))" aria-describedby="list-convictions-status">
                                            Building details
                                        </a>
                                    </span>
                                    <task-list-status-badge status="@Model.ApplicationBuildingDetailsStatusId"></task-list-status-badge>
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link" href="@(Model.ApplicationResponsibleEntityStatusId == ETaskStatus.Completed ? Url.Action("CheckYourAnswers", "ResponsibleEntities" , new { Area="ResponsibleEntities" }) : Url.Action("Start", "ResponsibleEntities" , new { Area="ResponsibleEntities" }))" aria-describedby="list-convictions-status">
                                            Responsible Entity details
                                        </a>
                                    </span>
                                    <task-list-status-badge status="@Model.ApplicationResponsibleEntityStatusId"></task-list-status-badge>
                                </li>
                                <li class="app-task-list__item">
                                    @if (Model.ApplicationResponsibleEntityStatusId == ETaskStatus.Completed)
                                    {
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link" href="@(Model.ApplicationLeaseHolderEngagementStatusId == ETaskStatus.Completed ? Url.Action("CheckYourAnswers", "Leaseholder" , new { Area="Leaseholder" }) : Url.Action("Start", "Leaseholder" , new { Area="Leaseholder" }))" aria-describedby="list-convictions-status">
                                                Leaseholder engagement agreement
                                            </a>
                                        </span>
                                        <task-list-status-badge status="@Model.ApplicationLeaseHolderEngagementStatusId"></task-list-status-badge>
                                    }
                                    else
                                    {
                                        <span class="govuk-body">Leaseholder engagement agreement</span>
                                        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="fraew-eligibility-status">Cannot Start Yet</strong>
                                    }

                                </li>
                                <li class="app-task-list__item">
                                    @if (Model.ApplicationScheme == EApplicationScheme.SocialSector || Model.ApplicationResponsibleEntityStatusId == ETaskStatus.Completed)
                                    {
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link" href="@(Model.ApplicationFundingRoutesStatusId == ETaskStatus.Completed ? Url.Action("CheckYourAnswers", "AlternativeFundingRoutes", new { Area = "AlternativeFundingRoutes" }) : Url.Action("Start", "AlternativeFundingRoutes", new { Area = "AlternativeFundingRoutes" }))" aria-describedby="list-convictions-status">
                                                Alternate routes of funding
                                            </a>
                                        </span>
                                        <task-list-status-badge status="@Model.ApplicationFundingRoutesStatusId"></task-list-status-badge>
                                    }
                                    else
                                    {
                                        <span class="govuk-body">Alternate routes of funding</span>
                                        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="alternate-routes-of-funding-status">Cannot Start Yet</strong>
                                    }
                                </li>
                                @if (Model.IsBankAccountInformationRequired())
                                {
                                    <li class="app-task-list__item">
                                        @if (Model.ApplicationResponsibleEntityStatusId == ETaskStatus.NotStarted)
                                        {
                                            <span class="govuk-body">Bank account information</span>
                                            <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="bank-account-eligibility-status">Cannot Start Yet</strong>
                                        }
                                        else
                                        {
                                            <a class="govuk-link" href="@(Model.ApplicationBankDetailsStatusId == ETaskStatus.Completed ? Url.Action("CheckYourAnswers", "BankAccount" , new { Area="BankAccount" }) : Url.Action("Start", "BankAccount" , new { Area="BankAccount" }))" aria-describedby="list-convictions-status">
                                                Bank account information
                                            </a>
                                            <task-list-status-badge status="@Model.ApplicationBankDetailsStatusId"></task-list-status-badge>
                                        }
                                    </li>
                                }
                                <li class="app-task-list__item">
                                    @if (Model.Phase2ReadyForDeclaration())
                                    {
                                        if (!Model.Phase2Completed())
                                        {
                                            <a class="govuk-link" href="@Url.Action("Start", "Declaration", new { Area = "Declaration" })" aria-describedby="list-convictions-status">
                                                Declaration
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="govuk-body">Declaration</span>
                                        }
                                        <task-list-status-badge status="@Model.ConfirmDeclarationStatusId"></task-list-status-badge>
                                    }
                                    else
                                    {
                                        <span class="govuk-body">Declaration</span>
                                        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="declaration-eligibility-status">Cannot Start Yet</strong>
                                    }
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h2 class="app-task-list__section">
                                <span class="app-task-list__section-number">2. </span> Get a fire risk appraisal
                            </h2>
                            <ul class="app-task-list__items">
                                <li class="app-task-list__item">
                                    @if (Model.IsDataIngestion || Model.Phase2Completed())
                                    {
                                        <a class="govuk-link" href="@(Model.ApplicationFraStatusId == ETaskStatus.Completed ? Url.Action("CheckYourAnswers", "FireRiskAssessment", new { Area = "FireRiskAssessment" }) : Url.Action("Start", "FireRiskAssessment", new { Area = "FireRiskAssessment" }))" aria-describedby="list-convictions-status">
                                            Fire Risk Assessment
                                        </a>
                                        <task-list-status-badge status="@Model.ApplicationFraStatusId"></task-list-status-badge>
                                    }
                                    else
                                    {
                                        <span class="govuk-body">Fire Risk Assessment</span>
                                        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="fra-eligibility-status">Cannot Start Yet</strong>
                                    }
                                </li>
                                <li class="app-task-list__item">
                                    @if (Model.IsDataIngestion || Model.Phase2Completed())
                                    {
                                        <a class="govuk-link" href="@(Model.ApplicationFireRiskAssessmentStatusId == ETaskStatus.Completed ? Url.Action("CheckYourAnswers", "FireRiskAppraisal", new { Area = "FireRiskAppraisal" }) : Url.Action("Start", "FireRiskAppraisal", new { Area = "FireRiskAppraisal" }))" aria-describedby="list-convictions-status">
                                            Fire Risk Appraisal of External Walls
                                        </a>
                                        <task-list-status-badge status="@Model.ApplicationFireRiskAssessmentStatusId"></task-list-status-badge>
                                    }
                                    else
                                    {
                                        <span class="govuk-body">Fire Risk Appraisal of External Walls</span>
                                        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="fraew-eligibility-status">Cannot Start Yet</strong>
                                    }
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h2 class="app-task-list__section">
                                <span class="app-task-list__section-number">3. </span> Submit application
                            </h2>
                            <ul class="app-task-list__items">
                                <li class="app-task-list__item">
                                    @if (Model.Phase3Completed())
                                    {
                                        if (!Model.Phase4Completed())
                                        {
                                            <a class="govuk-link" href="@Url.Action("Submit", "Submit", new { Area = "Application" })" aria-describedby="list-convictions-status">
                                                Submit
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="govuk-body">Submit</span>
                                        }

                                        if ((int)Model.ApplicationStatusId > (int)EApplicationStatus.ApplicationSubmitted)
                                        {
                                            Model.ApplicationStatusId = EApplicationStatus.ApplicationSubmitted;
                                        }

                                        <application-status-badge status="@Model.ApplicationStatusId"></application-status-badge>
                                    }
                                    else
                                    {
                                        <span class="govuk-body">Submit</span>
                                        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="submit-eligibility-status">Cannot Complete</strong>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ol>

                </div>
            </div>
        </main>
    </div>
</div>