@using HE.Remediation.Core.Enums;
@using GovUk.Frontend.AspNetCore.TagHelpers
@model HE.Remediation.WebApp.ViewModels.ProgressReporting.WhenStartOnSiteViewModel
@{
    string backLink;

    if (Model.Version > 1)
    {
        backLink = Url.Action("HaveAnyAnswersChanged", "ProgressReporting", new { Area = "ProgressReporting" });
    }
    else if (Model.HasVisitedCheckYourAnswers)
    {
        backLink = Url.Action("FinalCheckYourAnswers", "ProgressReporting", new { Area = "ProgressReporting" });
    }
    else
    {
        backLink = Url.Action("WhenSubmit", "ProgressReporting", new { Area = "ProgressReporting" });
    }

    ViewData["Title"] = "Progress Reporting";
    ViewData["SubTitle"] = Model.BuildingName + " (" + Model.ApplicationReferenceNumber + ")";
    ViewData["Backlink"] = backLink;
    ViewData["FullWidth"] = false;
}
@section ErrorSummary
    {
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="StartMonth" />
        <govuk-error-summary-item asp-for="StartYear" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">When do you think you'll start on site?</h1>

<form asp-area="ProgressReporting" asp-controller="ProgressReporting" asp-action="WhenStartOnSite" method="post">

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="submission-date-hint">
            <div class="govuk-hint">
                For example, 8 2022
            </div>
            <div class="govuk-date-input" id="submission-date">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" asp-for="StartMonth">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="StartMonth" type="number" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" asp-for="StartYear">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="StartYear" type="number" inputmode="numeric">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    <input asp-for="ApplicationReferenceNumber" type="hidden" value="@Model.ApplicationReferenceNumber" />
    <input asp-for="BuildingName" type="hidden" value="@Model.BuildingName" />
    <input asp-for="Version" type="hidden" value="@Model.Version" />
    <input asp-for="HasVisitedCheckYourAnswers" type="hidden" value="@Model.HasVisitedCheckYourAnswers"/>

    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="@ESubmitAction.Exit" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>

