@using HE.Remediation.Core.Enums
@using HE.Remediation.Core.Extensions
@using HE.Remediation.Core.Interface
@using HE.Remediation.WebApp.Extensions
@using HE.Remediation.WebApp.ViewModels.MonthlyProgressReporting
@inject IApplicationDataProvider applicationDataProvider;
@model ProgressReportDetailsViewModel
@{
    var isSssfScheme = applicationDataProvider.GetApplicationScheme() == EApplicationScheme.SocialSector;
    
    ViewData["Title"] = $"{Model.DateCreated:MMMM yyyy} Monthly Report";
    ViewData["BackLink"] = Url.Action("ProgressReports", "ProgressReportingDetails", new { Area = "ProgressReportingDetails" });
    ViewData["FullWidth"] = true;
    ViewData["ReadOnly"] = true;
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";

    string reportSubmittedExpiredText;
    if (Model.DateSubmitted.HasValue)
    {
        reportSubmittedExpiredText = $"This progress report was submitted on {Model.DateSubmitted.Value:dd MMMM yyyy}.";
    }
    else if (Model.NextReportExists)
    {
        reportSubmittedExpiredText = "This progress report has expired.";
    }
    else
    {
        reportSubmittedExpiredText = "This progress report has not yet been submitted.";
    }
}

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<!-- KEY DATES - WORKS PLANNING -->

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-size-24">
                Works planning
            </span>
        </govuk-summary-list-row-key>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Expected date of tender
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.ExpectedTenderDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Actual date of tender
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.ActualTenderDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Expected lead contractor appointment date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.ExpectedLeadContractorAppointmentDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Actual lead contractor appointment date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.ActualLeadContractAppointmentDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Expected works package submission date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.ExpectedWorksPackageSubmissionDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                How are you obtaining your contractor?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.ContractorTenderTypeId.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    @if (Model.ContractorTenderTypeId == EContractorTenderType.NonCompetitive)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Why are you not running a competitive tender
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.ContractorTenderReason.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

    @if (Model.WorksPlanningChangeTypeId.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Explain why slippage has occured and what you intend to do to mitigate this
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.WorksPlanningChangeTypeId.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Provide additional details about the slippage
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.WorksPlanningChangeReason.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
</govuk-summary-list>

<!-- KEY DATES - BUILDING CONTROL -->

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">
                Building control
            </span>
        </govuk-summary-list-row-key>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Expected application date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.BuildingControlExpectedApplicationDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Actual application date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.BuildingControlActualApplicationDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                BSR Gateway 2 reference number
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.BuildingControlGateway2Reference.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Validation date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.BuildingControlValidationDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Decision date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.BuildingControlDecisionDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Decision
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.BuildingControlDecisionType.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    @if (Model.BuildingControlDecisionTypeId is EBuildingControlDecisionType.ApproveWithRecommendations or EBuildingControlDecisionType.Rejected)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-weight-regular">
                    Decision upload
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var file in Model.BuildingControlDecisionDocuments)
                    {
                        <li>@file</li>
                    }
                </ul>
                @(Model.BuildingControlDecisionDocuments.Count == 0 ? "-" : "")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    
    @if (Model.BuildingControlChangeTypeId.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Explain why slippage has occured and what you intend to do to mitigate this
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.BuildingControlChangeTypeId.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Provide additional details about the slippage
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.BuildingControlChangeReason.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
</govuk-summary-list>

<!-- KEY DATES - PLANNING PERMISSION -->

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-size-24">
                Planning permission
            </span>
        </govuk-summary-list-row-key>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Is planning permission required?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.WorksNeedPlanningPermission.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    @if (Model.WorksNeedPlanningPermission == EYesNoNonBoolean.Yes)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-weight-regular">
                    Have you applied for planning permission?
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.HaveAppliedPlanningPermission.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        @if (Model.HaveAppliedPlanningPermission == true)
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Planning permission submission date
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.PlanningPermissionDateSubmitted.ForDisplay()
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>

            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Planning permission approval date
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.PlanningPermissionDateApproved.ForDisplay()
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        }
        
        @if (Model.HaveAppliedPlanningPermission == false)
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Expected planning permission submission date
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.PlanningPermissionPlanToSubmitDate.ForDisplay()
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>

            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Tell us why you have not applied for planning permission
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.PlanningPermissionReasonNotApplied.ForDisplay()
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        }
    }
    
    @if (Model.PlanningPermissionChangeTypeId.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Explain why slippage has occured and what you intend to do to mitigate this
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.PlanningPermissionChangeTypeId.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Provide additional details about the slippage
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.PlanningPermissionChangeReason.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
</govuk-summary-list>

<!-- KEY DATES - REMEDIATION -->

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-size-24">
                Remediation
            </span>
        </govuk-summary-list-row-key>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Expected start on site date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.RemediationFullCompletionOfWorksDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Expected practical completion of works date
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.RemediationPracticalCompletionDate.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    @if (Model.RemediationChangeTypeId.HasValue)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Explain why slippage has occured and what you intend to do to mitigate this
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.RemediationChangeTypeId.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Provide additional details about the slippage
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.RemediationChangeReason.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
</govuk-summary-list>

<!-- PROJECT PLAN -->

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-size-24">
                Project plan
            </span>
        </govuk-summary-list-row-key>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                How are you intending to proceed?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.IntentToProceedType.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Are you planning to do other internal works at the same time?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.InternalAdditionalWork.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    @if (Model.ApplicationSchemeId != 3)
    {
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                How much do you have remaining?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.Raw(Model.RemainingAmount.HasValue ? "&pound;" + Model.RemainingAmount.Value.ToString("N0") : "-")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Do you have enough funds to meet your critical path and your first monthly payment in arrears?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.EnoughFunds.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    @if (Model.EnoughFunds == false)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-weight-regular">
                    PTS uplift upload
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var file in Model.PtsUpliftDocuments)
                    {
                        <li>@file</li>
                    }
                </ul>
                @(Model.PtsUpliftDocuments.Count == 0 ? "-" : "")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }
    }
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Project plan upload
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <ul class="govuk-list govuk-list--bullet">
                @foreach (var file in Model.ProjectPlanDocuments)
                {
                    <li>@file</li>
                }
            </ul>
            @(Model.ProjectPlanDocuments.Count == 0 ? "-" : "")
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
</govuk-summary-list>

<!-- TEAM MEMBERS -->

@if (Model.TeamMembers.Count > 0)
{
    <h2 class="govuk-heading-m">Team Members</h2>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Role</th>
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Company name</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var teamMember in Model.TeamMembers)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@teamMember.Role.SplitCamelCase()</td>
                    <td class="govuk-table__cell no-line-wrap">@teamMember.Name</td>
                    <td class="govuk-table__cell no-line-wrap">@teamMember.CompanyName</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.ApplicationLead is not null ||
         Model.LeaseholderCommunicator is not null ||
         Model.RegulatoryComplianceMember is not null)
    {
        <h2 class="govuk-heading-m">Key responsibilities</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Responsibility</th>
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Company name</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @if (Model.ApplicationLead is not null)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Application lead</td>
                    <td class="govuk-table__cell no-line-wrap">@Model.ApplicationLead.Name</td>
                    <td class="govuk-table__cell no-line-wrap">@Model.ApplicationLead.CompanyName</td>
                </tr>
            }
            @if (Model.LeaseholderCommunicator is not null)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Responsible for leaseholder communication</td>
                    <td class="govuk-table__cell no-line-wrap">@Model.LeaseholderCommunicator.Name</td>
                    <td class="govuk-table__cell no-line-wrap">@Model.LeaseholderCommunicator.CompanyName</td>
                </tr>
            }
            @if (Model.RegulatoryComplianceMember is not null)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Responsible for regulatory compliance</td>
                    <td class="govuk-table__cell no-line-wrap">@Model.RegulatoryComplianceMember.Name</td>
                    <td class="govuk-table__cell no-line-wrap">@Model.RegulatoryComplianceMember.CompanyName</td>
                </tr>
            }
            </tbody>
        </table>
    }
    @if (!isSssfScheme) {
        <h2 class="govuk-heading-m">Grant Certifying Officer</h2>

        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Name
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.GcoName.ForDisplay()<br />
                    @Model.GcoCompanyName.ForDisplay()
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>

            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Company address
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @if (!string.IsNullOrEmpty(Model.GcoNameNumber))
                    {
                        <div>@Model.GcoNameNumber</div>
                    }
                    @if (!string.IsNullOrEmpty(Model.GcoAddressLine1))
                    {
                        <div>@Model.GcoAddressLine1</div>
                    }
                    @if (!string.IsNullOrEmpty(Model.GcoAddressLine2))
                    {
                        <div>@Model.GcoAddressLine2</div>
                    }
                    @if (!string.IsNullOrEmpty(Model.GcoCity))
                    {
                        <div>@Model.GcoCity</div>
                    }
                    @if (!string.IsNullOrEmpty(Model.GcoCounty))
                    {
                        <div>@Model.GcoCounty</div>
                    }
                    @if (!string.IsNullOrEmpty(Model.GcoPostCode))
                    {
                        <div>@Model.GcoPostCode</div>
                    }
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>

            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Authorised signatory
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.GcoAuthorisedSignatory.ForDisplay()
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>

            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Authorised signatory email address
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.GcoAuthorisedSignatoryEmailAddress.ForDisplay()
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>

            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    <span class="govuk-!-font-weight-regular">
                        Contract start date
                    </span>
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @(Model.GcoContractStartDate.HasValue ? Model.GcoContractStartDate.Value.ToString("dd/MM/yyyy") : "-")
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>
    }
} else
{
    <govuk-summary-list>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <h2 class="govuk-heading-m">Team Members</h2>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                -
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    </govuk-summary-list>
}

<!-- LEASEHOLDER & RESIDENT COMMUNICATION -->

<govuk-summary-list>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-size-24">
                Leaseholder and resident communication
            </span>
        </govuk-summary-list-row-key>
    </govuk-summary-list-row>
    
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Have you contacted leaseholders and residents since your last progress report?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.HasContacted.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    
    @if (Model.HasContacted == true)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-weight-regular">
                    When was the last leaseholder and residents communication issued?
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.LastCommunicationDate.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-weight-regular">
                    Upload evidence of your communication with the leaseholders and residents
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var file in Model.LeaseholderCommunicationDocuments)
                    {
                        <li>@file</li>
                    }
                </ul>
                @(Model.LeaseholderCommunicationDocuments.Count == 0 ? "-" : "")
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    }

</govuk-summary-list>

<!-- SUPPORT -->

<govuk-summary-list>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-size-24">
                Support
            </span>
        </govuk-summary-list-row-key>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Do you need support?
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.RequiresSupport.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            <span class="govuk-!-font-weight-regular">
                Type of support
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <ul class="govuk-list govuk-list--bullet">
                @foreach(var item in Model.DisplaySupportNeeds())
                {
                    <li>@item</li>
                }
            </ul>
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key class="govuk-!-font-size-12">
            <span class="govuk-!-font-weight-regular">
                Tell us about the help you need
            </span>
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Model.SupportNeededReason.ForDisplay()
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

</govuk-summary-list>

<!-- V1 MISC -->

@if(Model.HasLegacyReport)
{
    <govuk-summary-list>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-size-24">
                    Miscellaneous
                </span>
            </govuk-summary-list-row-key>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-weight-regular">
                    Have you sought quotes or issued a tender?
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.HasSoughtQuotesOrIssuedTender.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                <span class="govuk-!-font-weight-regular">
                    Do you have a Building Safety registration code?
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.HasBuildingSafetyRegulatorRegistrationCode.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Building Safety Regulator registration code
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.BuildingSafetyRegulatorRegistrationCode.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Is your building at least 7 storeys or 18m in height?
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.Is7StoreysOr18Metres.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Have you applied for building control approval for higher risk buildings (Gateway 2)?
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.HasAppliedForBuildingControl.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Building control Submission additional detail
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.BuildingControlActualSubmissionInformation.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Building control Validation additional detail
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.BuildingControlValidationInformation.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Building control Decision additional detail
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.BuildingControlDecisionInformation.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

        <govuk-summary-list-row>
            <govuk-summary-list-row-key class="govuk-!-font-size-12">
                <span class="govuk-!-font-weight-regular">
                    Summarise your risks and blockers
                </span>
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @Model.RisksAndBlockersSummary.ForDisplay()
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>

    </govuk-summary-list>
}


<govuk-inset-text>
    @reportSubmittedExpiredText
</govuk-inset-text>

<div>
    <a href="@Url.Action("MonthlyReportPdf", null, new { Area = "ProgressReportingDetails", progressReportId = Model.Id })" class="govuk-link">Download PDF</a><br /><br />
</div>


