@model HE.Remediation.WebApp.ViewModels.Application.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div>
                <h1 class="govuk-heading-xl">Dashboard</h1>

                @if (!string.IsNullOrWhiteSpace(Model.NotificationMessage))
                {
                    <div class="govuk-notification-banner" role="region"
                         aria-labelledby="govuk-notification-banner-title"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                Important
                            </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <p class="govuk-notification-banner__heading">
                                @Model.NotificationMessage
                            </p>
                        </div>
                    </div>
                }

                <div class="govuk-grid-row app-cards">
                    <div class="govuk-grid-column-one-third">
                        <a href="@Url.Action("NewApplication", "Dashboard", new { area = "Application"})">
                            <div class="app-card">
                                <p class="govuk-link govuk-heading-m">Start new application</p>
                                <p class="govuk-body">Begin applying for a building to confirm eligibility for grant funding</p>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <a href="@Url.Action("ExistingApplications", "Dashboard", new { area = "Application"})">
                            <div class="app-card">
                                <p class="govuk-link govuk-heading-m">View existing applications</p>
                                <p class="govuk-body">Revisit existing grant applications and review application progress</p>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <a href="@Url.Action("Tasks", "Dashboard", new { area = "Application"})">
                            <div class="app-card task-count">
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-three-quarters">
                                        <p class="govuk-link govuk-heading-m">Notifications</p>
                                    </div>
                                    @if (Model.AlertCount > 0)
                                    {
                                        <div class="govuk-grid-column-one-quarter govuk-text-align-right">
                                            <span class="count">@Model.AlertCount</span>
                                        </div>
                                    }
                                </div>
                                <p class="govuk-body">View tasks to complete for your application</p>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <a href="@Url.Action("GetHelp", "Dashboard", new { area = "Application"})">
                            <div class="app-card">
                                <p class="govuk-link govuk-heading-m">Get help</p>
                                <p class="govuk-body">View guidance and get help with your grant application</p>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <a href="@Url.Action("index", "Account", new { area = "Administration"})">
                            <div class="app-card">
                                <p class="govuk-link govuk-heading-m">Your settings<p>
                                <p class="govuk-body">View your login details and profile information</p>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <a href="@Url.Action("Complaints", "Dashboard", new { area = "Application"})">
                            <div class="app-card app-card-full-width">
                                <p class="govuk-link govuk-heading-m">Complaints<p>
                                <p class="govuk-body">Make a complaint</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
