@using HE.Remediation.Core.Enums;
@using HE.Remediation.Core.Extensions
@using GovUk.Frontend.AspNetCore.TagHelpers
@model HE.Remediation.WebApp.ViewModels.ClosingReport.AddEditEvidenceDetailsViewModel
@{
    ViewData["Title"] = "Evidence of Third Party Contribution";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["Backlink"] = Model.ViaCheckAnswer ? Url.Action("CheckYourAnswers", new { id = Model.Id }) : Url.Action("Details", new { id = Model.Id });
    ViewData["FullWidth"] = false;
    ViewData["ExitLinkHidden"] = true;
}

@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="AttemptDetails" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">Submit Third Party Contribution Evidence Details</h1>

@using (Html.BeginForm("Details2", "AddEditEvidence", new { Area = "ClosingReportEvidenceOfThirdPartyContribution", id = (Guid?)null }))
{
    <govuk-radios name="TypeOfContribution" asp-for="TypeOfContribution">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--s">
                Confirm the type of contribution
            </govuk-radios-fieldset-legend>
        </govuk-radios-fieldset>
        @foreach (EFundingStillPursuing item in Enum.GetValues(typeof(EFundingStillPursuing)))
        {
            <govuk-radios-item checked="@Model?.TypeOfContribution?.Any(x => x == item)" value="@item">@item.GetEnumDisplayName()</govuk-radios-item>
        }
    </govuk-radios>

    <govuk-input asp-for="Amount" input-class="govuk-!-width-one-third" input-inputmode="numeric">
        <govuk-input-label class="govuk-label--s">Amount (optional)</govuk-input-label>
        <govuk-input-prefix>&pound;</govuk-input-prefix>
    </govuk-input>

    <govuk-character-count asp-for="AttemptDetails" max-length="250">
        <govuk-character-count-label class="govuk-label--s">Attempt details</govuk-character-count-label>
    </govuk-character-count>

    @Html.HiddenFor(x => x.ApplicationReferenceNumber)
    @Html.HiddenFor(x => x.BuildingName)
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="ThirdPartyName" value="@Model.ThirdPartyName" />
    <govuk-date-input asp-for="DateOfAttempt" class="hidden" value="@Model.DateOfAttempt" />
    <input type="hidden" asp-for="StatusOfAttempt" value="@Model.StatusOfAttempt" />
    <input type="hidden" asp-for="Step" value="@Model.Step" />
    <input type="hidden" asp-for="ViaCheckAnswer" value="@Model.ViaCheckAnswer" />

    <div class="comp-btn-group">
        <govuk-button name="button" value="Continue">Continue</govuk-button>
    </div>
}
<div>
    <a class="govuk-link" href="@Url.Action( "CancelAndExit", new { id = Model.Id })">Cancel and exit</a>
</div>
