@using HE.Remediation.Core.Enums;
@using HE.Remediation.WebApp.ViewModels.MonthlyProgressReporting.KeyDates
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ReasonForNonCompetitiveTenderViewModel
@{
    ViewData["Title"] = "Progress report - Project key dates";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["FullWidth"] = false;
    ViewData["BackLink"] = Url.Action("ContractorTender", "WorksPlanning", new { Area = "MonthlyProgressReportingKeyDates" });

}

@if (!ViewData.ModelState.IsValid)
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="ReasonForNonCompetitiveTender" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Explain your answer</h1>

<form asp-area="MonthlyProgressReportingKeyDates" asp-controller="WorksPlanning" asp-action="ReasonForNonCompetitiveTender" method="post">

    <govuk-character-count asp-for="ReasonForNonCompetitiveTender" max-length="1000">
        <govuk-character-count-label class="govuk-label govuk-label--s">Detail</govuk-character-count-label>
    </govuk-character-count>

    <input asp-for="ApplicationReferenceNumber" type="hidden" value="@Model.ApplicationReferenceNumber" />
    <input asp-for="BuildingName" type="hidden" value="@Model.BuildingName" />
    <input asp-for="ReasonForNonCompetitiveTender" type="hidden" value="@Model.ReasonForNonCompetitiveTender" />


    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" class="govuk-button--secondary" value="@ESubmitAction.Exit">Save and return later</govuk-button>
    </div>
</form>