@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.FireRiskAssessment.FundingViewModel
@{
    ViewData["Title"] = "FRA report";
    ViewData["BackLink"] = Model.HasDefects == true
        ? Url.Action("IdentifiedDefects", "FireRiskAssessment", new { Area = "FireRiskAssessment" })
        : Url.Action("FireRisk", "FireRiskAssessment", new { Area = "FireRiskAssessment" });
    ViewData["FullWidth"] = false;
}

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<form asp-controller="FireRiskAssessment" asp-area="FireRiskAssessment" asp-action="Funding" method="post">
    <govuk-radios asp-for="HasFunding">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-label--s">
                Have you got any funding in place to cover these works?
            </govuk-radios-fieldset-legend>
        </govuk-radios-fieldset>
        <govuk-radios-item value="@true">
            Yes
        
            <govuk-radios-item-conditional>

                <govuk-select asp-for="HasFundingType">
                    <govuk-select-label>What type of funding?</govuk-select-label>
                    <govuk-select-item selected="@(!Model.HasFundingType.HasValue)">&nbsp;</govuk-select-item>
                    <govuk-select-item value="@EFraFundingType.PaidForByThirdParty" selected="@Model.HasFundingType == EFraFundingType.PaidForByThirdParty">
                        These works are paid for by a third party
                    </govuk-select-item>
                    <govuk-select-item value="@EFraFundingType.PaidForFromExistingServiceChargeFunds" selected="@Model.HasFundingType == EFraFundingType.PaidForFromExistingServiceChargeFunds">
                        These works are planned to be paid for from existing service charge funds
                    </govuk-select-item>
                </govuk-select>
            </govuk-radios-item-conditional>
        </govuk-radios-item>

        <govuk-radios-item value="@false">
            No
            
            <govuk-radios-item-conditional>
                <govuk-select asp-for="HasNoFundingType">
                    <govuk-select-label>What action are you looking to undertake?</govuk-select-label>
                    <govuk-select-item selected="@(!Model.HasNoFundingType.HasValue)">&nbsp;</govuk-select-item>
                    <govuk-select-item value="@EFraFundingType.RequestToBeMadeToThirdParty" selected="@Model.HasNoFundingType == EFraFundingType.RequestToBeMadeToThirdParty">
                        Request to be made to a third party
                    </govuk-select-item>
                    <govuk-select-item value="@EFraFundingType.ServiceChargesFollowingS20" selected="@Model.HasNoFundingType == EFraFundingType.ServiceChargesFollowingS20">
                        Service charges following S20 consultation
                    </govuk-select-item>
                    <govuk-select-item value="@EFraFundingType.CostOfWorksYetToBeSecured" selected="@Model.HasNoFundingType == EFraFundingType.CostOfWorksYetToBeSecured">
                        The costs of these are works yet to be secured
                    </govuk-select-item>
                </govuk-select>
            </govuk-radios-item-conditional>
        </govuk-radios-item>
    </govuk-radios>
    
    <input asp-for="HasDefects" type="hidden" value="@Model.HasDefects" />

    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@(ESubmitAction.Continue)">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>