@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.PaymentRequest.InvoicesViewModel

@{
    Layout = "~/Areas/PaymentRequest/Views/Shared/_SideCardLayout.cshtml";
    ViewData["Title"] = "Upload monthly invoices";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["BackLink"] = Url.Action("UploadCostReport", "PaymentRequest", new { Area = "PaymentRequest" });

    var readOnly = ((Model.IsSubmitted == true) || (Model.IsExpired));
}

@section InfoCardSection
{
    <div class="info-card blank-background govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-1">
        <h2 class="govuk-heading-m">Related guidance</h2>

        <a target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#monthly-grant-claims-progress-monitoring-and-variations" class="govuk-link govuk-!-margin-bottom-2">
            Monthly grant claims, progress monitoring and variations
        </a>
    </div>
}

@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="File" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">Upload invoices</h1>

<p class="govuk-body">Please upload your monthly invoices. Please look to submit all invoices as 1 pdf with all invoices as a bundle.</p>

<p class="govuk-caption-m">You can upload up to @Model.NumberOfFilesAllowed files.</p>
<p class="govuk-caption-m">Each file must be smaller than 100mb.</p>

<form asp-area="PaymentRequest" asp-controller="PaymentRequest" asp-action="Invoices" method="post" enctype="multipart/form-data">
    @await Html.PartialAsync("FileUpload", Model)
    <br />

    @Html.HiddenFor(x=> x.ApplicationReferenceNumber)
    @Html.HiddenFor(x=> x.BuildingName)
    @Html.HiddenFor(x=> x.ReturnUrl)
    @Html.HiddenFor(x => x.IsExpired)
    @Html.HiddenFor(x => x.IsSubmitted)
    
    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" disabled="@readOnly" value="@(ESubmitAction.Continue)" type="submit">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" disabled="@readOnly" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>