@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="@((bool)ViewData["FullWidth"] == false ? "govuk-grid-column-two-thirds" : "govuk-grid-column-full")">
                @if ((bool)ViewData["ReadOnly"] == false)
                {
                    <govuk-back-link href="@ViewData["BackLink"]">Back</govuk-back-link>
                }

                <main class="govuk-main-wrapper">
                    @await RenderSectionAsync("ErrorSummary", false)
                    <span class="govuk-caption-xl">Alternative routes of funding</span>

                    @RenderBody()

                    <div>
                        <a class="govuk-link" href="@Url.Action("Index", "TaskList", new { Area = "Application" })">@((bool)ViewData["ReadOnly"] ? "Exit" : "Cancel and exit") </a>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>